name: Flutter APK Build

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: 'stable'
      - name: Install dependencies
        run: flutter pub get
      - name: Build debug APK
        run: |
          flutter build apk --debug -t lib/main.dart
          ls -la build/app/outputs/flutter-apk/
      - name: Upload debug APK
        uses: actions/upload-artifact@v4
        with:
          name: A_Elegancia_Feminina-debug.apk
          path: build/app/outputs/flutter-apk/app-debug.apk
      - name: Build release APK
        run: |
          flutter build apk --release -t lib/main.dart
          ls -la build/app/outputs/flutter-apk/
      - name: Upload release APK
        uses: actions/upload-artifact@v4
        with:
          name: A_Elegancia_Feminina-release.apk
          path: build/app/outputs/flutter-apk/app-release.apk
